body{

    margin: 0px;
    padding: 0px;
}
/*entête de la page*/
header{
    height: 100%;
}

header h2{
    font-size: 25px;
    margin-top:20px ;
    margin-left: 30px;
}
header .travail{
    font-size: 13px;
    color: red;
    float: left;
    margin-left: 100px;
    margin-top: -15px;
    
}
header .justice{
    font-size: 13px;
    color: yellow;
    float: left;
    margin-left: 5px;
    margin-top: -15px;
}
header .solidarite{
    font-size: 13px;
    color: green;
    float: left;
    margin-left: 5px;
    margin-top: -15px;
    
}

.logo{
    width: 130px;
    height: 100px;
    margin-left: 320px;
    margin-top: -50px;
}
.pri-sec{
   margin-left: 650px;
   margin-top: -40px;
   display:block;
   word-spacing: 20px;
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;
  
}
.pri-sec a{
    color: white;
    background-color: orange;
    text-decoration: none;
    box-shadow: 0px 0px 3px black;


}
nav{
    width: 100%;
    height: 50px;
    margin-top: 0px;
    padding: 0px;
    box-shadow: 0px 0px 3px blue;
   
}
nav ul  {
    list-style: none;
}
nav li{
    float: left;
    display: inline-block;
    padding: 0px;
    margin-left: 40px;
}
 nav a{
     text-decoration: none;
     margin-left: 0px;
     color: black;
     padding: 10px 20px;
     font-size: 25px;
     display: inline-block;
     text-transform: uppercase;
     font-weight: bold;
 }
 .ind :hover{
    background-color: yellowgreen;
    
 }

 /*section1*/
 .sec1{
    width: 100%;
    height: 750px;
    margin-top: 10px;
 }
 .div1{
    width: 550px;
    height: 120px;
    text-align: center;
    margin-left: 400px;
    border-bottom: 1px solid rgb(215, 213, 213);
}
 .div1 h2{
    background-color: rgb(173, 175, 176);
}
 .div1 p{
    margin-top: -20px;
    font-size: 15px;
    font-family: 'century gothic';
 }
 .div2{
   
    width: 550px;
    height: 250px;
    margin-left: 400px;
    margin-top: 2px;
    
}
.div2 h2{
    text-align: center;
}
.div2 p{
    text-align: center;
    line-height: 25px;
}
.div2 ol{
    padding-left: 100px;
    margin-top: -10px;
}
.div3{
   
    width: 260px;
    height: 300px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 270px;
    border-left:1px solid rgb(213, 212, 212) ;
    border-top:1px solid rgb(213, 212, 212) ;
    
}
.div3 img{
    width: 100px;
    height: 85px;
    padding-top: 10px;
}
.div3 p{
    
    font-weight: bold;
    font-size: 17px;
}
.div4{
    width: 300px;
    height: 380px;
    text-align: center;
    padding-top: 5px;
    border-right:1px solid rgb(213, 212, 212) ;
    position: absolute;
    left: 30px;
    top: 220px;
}
.div4 img{
    width: 280px;
    height: 320px;
    padding :1px;
    box-shadow: 0px 0px 2px black;
    
}
.div4 p{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -2px;

}
 table{
    border-collapse:collapse;
    margin-left: 150px;
    margin-top: 60px;
 }
 table caption{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
 }
th{
    border: 1px solid black;
    width: 160px;
    height: 30px;

}
tr  {
    border: 1px solid black;
    width: 160px;
    height: 30px;
}
td{
    border: 1px solid black;
    width: 160px;
    height: 30px;
    text-align: center;
}

 /*pied de page*/
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(102, 104, 104);
    color: white;
    font-size: 16px;
}
.whatsapt2 , .facebook{
    
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    position: relative;
    left: 600px;
    top: -150px
    
}
.whatsapt2{
    background-image: url(../images/im17.png);
    background-position: 0px 0px;
    border-radius: 50px;
    background-size: cover;
    position: relative;
    left: 590px;
   
    
}
.facebook{
    background-image: url(../images/f1.png);
    background-position: 0px 0px;
    border-radius: 50%; /* Cela rend l'icône circulaire */
    background-size: cover;
    
}  
footer .pied1{
    color: white;
    font-size: 18px;
    margin-left:50px ;
    text-decoration: none;
    line-height: 30px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    top :40px
}
footer .pied2{
    color: white;
    font-size: 18px;
    margin-left:300px ;
    text-decoration: none;
    line-height: 30px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    top :-80px
    
}
.sec-pied{
    width: 100%;
    height: 95px;
    background-color: rgb(102, 104, 104);
    border-top: 1px solid white;
}
footer p{
    text-align: center;
    color: white;
    padding-top: 25px;
    font-weight: lighter;
   
}
@media screen and (min-width:480px) and (max-width:780px) {
   
     /*entête de la page*/
header{
    height: 50%;
   }
   header h2{
      font-size: 15px;
   }
   header .travail{
      font-size: 13px;
      color: red;
      float: left;
      margin-left: 50px;
      margin-top: -15px;
   }
   header .justice{
      font-size: 13px;
      color: yellow;
      float: left;
      margin-left: 5px;
      margin-top: -15px;
   }
   header .solidarite{
      font-size: 13px;
      color: green;
      float: left;
      margin-left: 5px;
      margin-top: -15px;
   }
   .logo{
      width: 80px;
      height: 50px;
      margin-left: 50px;
      margin-top: -50px;
   }
   .pri-sec{
     margin-left: 280px;
     margin-top: -40px;
     display:block;
     word-spacing: 20px;
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     text-transform: capitalize;
    
   }
   .pri-sec a{
      color: white;
      background-color: orange;
      text-decoration: none;
      box-shadow: 0px 0px 2px black;
   }
   nav{
      width: 100%;
      height: 40px;
      box-shadow: 0px 0px 2px blue;
   }
   nav ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 0px;
   }
   nav li{
      float: left;
      display: inline-block;
      margin-left: 0px;
      padding-left: 0px;
   }
   nav a{
       text-decoration: none;
       color: black;
       font-size: 9px;
       display: inline-block;
       text-transform: uppercase;
       font-weight: bold;
       margin-left: 3px;
   }
   .ind :hover{
      background-color: yellowgreen;
      
   }
   

   /*section1*/
 .sec1{
    width: 100%;
    height: 1300px;
    margin-top: 10px;
 }
   .div1{
    width: 100%;
    height: 120px;
    text-align: center;
    margin-left: 0px;
}
 .div1 h2{
    background-color: rgb(173, 175, 176);
}
 .div1 p{
    margin-top: -20px;
    font-size: 15px;
    font-family: 'century gothic';
 }

 .div2{
   
    width: 100%;
    height: 200px;
    margin-left: 0px;
    margin-top: 330px;
    
}
.div2 h2{
    text-align: center;
    margin-top: 0px;
}
.div2 p{
    line-height: 20px;
    font-size: 14px;
    margin-left: 20px;
}
.div2 ol{
    padding-left: 100px;
    margin-top: -10px;
    font-size: 14px;
}
.div3{
   
    width: 300px;
    height: 290px;
    text-align: center;
    position: absolute;
    left: 100px;
    top: 790px;
    border-right:1px solid rgb(213, 212, 212) ;
    border-top:1px solid rgb(213, 212, 212) ;
    
}
.div3 img{
    width: 100px;
    height: 85px;
    padding-top: 10px;
   
}
.div3 p{
    
    font-weight: bold;
    font-size: 15px;
}
.div4{
    width: 300px;
    height: 295px;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    left: 100px;
    top: 280px;
}
.div4 img{
    width: 290px;
    height: 260px;
    padding :1px;
    box-shadow: 0px 0px 2px black;
    
}
.div4 p{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -2px;
    font-size: 10px;

}
table{
    border-collapse:collapse;
    margin-left: 2px;
    margin-top: 330px;
 }
 table caption{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
 }
th{
    border: 1px solid black;
    width: 160px;
    height: 30px;
    font-size: 14px;

}
tr  {
    border: 1px solid black;
    width: 160px;
    height: 30px;
}
td{
    border: 1px solid black;
    width: 160px;
    height: 30px;
    text-align: center;
    font-size: 13px;
}
  /*pied de page*/
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(102, 104, 104);
    color: white;
    font-size: 16px;
}
.whatsapt2 , .facebook{
    
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    position: relative;
    left: 300px;
    top: -150px
}
.whatsapt2{
    background-image: url(../images/im17.png);
    background-position: 0px 0px;
    border-radius: 50px;
    background-size: cover;
    position: relative;
    left: 370px;
}
.facebook{
    background-image: url(../images/f1.png);
    background-position: 0px 0px;
    border-radius: 50%; /* Cela rend l'icône circulaire */
    background-size: cover;
}  
footer .pied1{
    color: white;
    font-size: 15px;
    margin-left:10px ;
    text-decoration: none;
    line-height: 30px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    top :40px
}
footer .pied2{
    color: white;
    font-size: 15px;
    margin-left:200px ;
    text-decoration: none;
    line-height: 30px;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    top :-80px
}
.sec-pied{
    width: 100%;
    height: 95px;
    background-color: rgb(102, 104, 104);
    border-top: 1px solid white;
}
footer p{
    text-align: center;
    color: white;
    padding-top: 25px;
    font-weight: lighter;
}
}

